PORT=4000
NODE_ENV=development
APP_BASE_URL="http://localhost:4000"
ADMIN_RESET_PASSWORD_URL="http://localhost:5173/reset-password"
DATABASE_URL="mysql://root:password@localhost:3306/football_booking"
JWT_ACCESS_SECRET="your_access_secret_here"
JWT_REFRESH_SECRET="your_refresh_secret_here"
JWT_ACCESS_EXPIRES_IN="2h"
JWT_REFRESH_EXPIRES_IN="7d"

# SMTP - Email for forgot/reset password
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER="your_email@gmail.com"
SMTP_PASS="your_app_password"
SMTP_FROM="Football Booking <no-reply@football-booking.local>"

# VNPay
VNPAY_TMN_CODE="YOUR_TMN_CODE"
VNPAY_HASH_SECRET="YOUR_HASH_SECRET"
VNPAY_URL="https://sandbox.vnpayment.vn/paymentv2/vpcpay.html"
VNPAY_RETURN_URL="http://localhost:4000/api/v1/payments/vnpay/return"
VNPAY_IPN_URL="http://localhost:4000/api/v1/payments/vnpay/ipn"
